.Rproj.user
.Rhistory
.RData
.Ruserdata
data
README.docx
output/*.RData
output/maps_*.png
processed_data/paleomaps.RData
processed_data/table_naive_cynodontia_small_bins.RData
processed_data/animation*
processed_data/brick*
processed_data/Trait_data.csv
R/old_codes
R/Cynodontia/oldScripts
R/TriassicExt
output
Manuscript.Rmd
Manuscript.docx
*.docx
garbage
R/Mammals
trait_space_*
processed_data_TrJ
processed_data/pyrate*

